PORT=3001


DB_NAME=
DB_USER=
PASSWORD=
DB_HOST=
DB_PORT=
DIALECT=

DB_NAME_DEV=
DB_USER_DEV=
PASSWORD_DEV=
DB_HOST_DEV=
DB_PORT_DEV=
DIALECT_DEV=

DB_NAME_TEST=
DB_USER_TEST=
PASSWORD_TEST=
DB_HOST_TEST=
DB_PORT_TEST=
DIALECT_TEST=postgres

SIGENU_API_PASSWORD=
SIGENU_API_USER=
SIGENU_API_URL=http://sigenu.uniss.edu.cu/sigenu-rest
LDAP_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=


NODE_ENV= #development production test


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=